a:link {color:#ffffff; text-decoration:none;} 
a:visited {color:#ffffff; text-decoration:none;} 
a:hover {color:#ffffff; text-decoration:none;} 
a:active {
	color:#ffffff;
	text-decoration:none;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif, "¸¼Àº °íµñ";
} 
